{% extends 'layout.html' %}
{% block body %}

<header class="panel-heading col-lg-offset-1 col-lg-10">
<h2>Registration</h2>
</header>
<hr>

{% if message: %}
<div class="alert alert-warning">
	{{tag_id}}: {{message}}
</div>
{% else: %}

<h2><small>NFC Tag ID</small>
<br/>{{tag_id}}<br/>
Registered</h2>

<p>Currently Registered NFC Tags: {{total_tags}}</p>
Do you want to add additional information to the tag? 
(You can do it at later time, too).
<button class="btn btn-default" id="openAddInfo">Do it now</button> 
<button class="btn btn-default" id="doItLater">I'll do it later</button>

<div class="col-lg-offset-1 col-lg-10" id="addInfoForm">
	<form class="form-horizontal" role="form" action="/add_info_submit" method="POST">
		<div class="form-group">
			<label for="tag" class="control-label">NFC Tag ID Registered</label>
			<div class="add-later" id="tag">
				<input type="text" class="form-control" name="tag_id" placeholder="{{tag_id}}" value="{{tag_id}}" disabled>
			</div>
		</div>
		<hr>
		<h4>Add Container Information</h4>
		<div class="form-group">
			<label for="id-container" class="control-label">Container</label>
			<div class="add-later" id="id-container">
				<select class="form-control" name="container">
					<option value="n/a">N/A</option>
					{% for row in container: %}
					<option value="{{row[0]}}">{{row[1]}} ({{row[2]}})</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<h4>Add Wristband Holder Information</h4>
		<div class="form-group">
			<label for="holder-fname" class="control-label">First Name</label>
			<div class="add-later" id="holder-fname">
				<input type="text" class="form-control" name="first_name">
			</div>
		</div>
		<div class="form-group">
			<label for="holder-lname" class="control-label">Last Name</label>
			<div class="add-later" id="holder-lname">
				<input type="text" class="form-control" name="last_name">
			</div>
		</div>
		<div class="form-group">
			<label for="holder-gender" class="control-label">Gender</label>
			<div class="add-later" id="holder-gender">
				<select class="form-control" name="gender">
					<option value="1">Female</option>
					<option value="2">Male</option>
					<option value="3">Other</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="holder-category" class="control-label">Special Category</label>
			<div class="add-later" id="holder-category">
				<div class="checkbox">  
			    <label>
			      <input type="checkbox" value="1" name="category"> Has children
			    </label>
			   </div>
			   <div class="checkbox"> 
				    <label>
				      <input type="checkbox" value="2" name="category"> Pregnant
				    </label>
			    </div>
			    <div class="checkbox"> 
				    <label>
				      <input type="checkbox" value="3" name="category"> Senior
				    </label>
			    </div>
			  </div>
			 </div>
		</div>
		<div class="form-group">
			<button class="btn btn-default" type="submit">Register</button>
			<button class="btn btn-default" type="button">Cancel</button>
		</div>
	</form>
</div>
{% endif %}

{% endblock %}